#f-1 {
    background-color: plum;
    border: 2px solid black;
    border-radius: 10px;
    margin: 100px 400px 100px 400px;
    padding: 10px 20px 10px 20px;
}

body {
    background-color: powderblue;
}